---
interface Props {
  title: string;
}

// Styles:
import '@/styles/globals.css';
import { cn } from '@/utils';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class={cn(
      'font-sans antialiased',
      'bg-neutral-50 dark:bg-neutral-900',
      'text-neutral-900 dark:text-neutral-50',
    )}
  >
    <slot />
  </body>
</html>
