.t_toasts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  position: fixed;
  z-index: 9999;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.t_top-left {
  top: 0;
  left: 0;
}

.t_top-right {
  top: 0;
  right: 0;
}

.t_bottom-left {
  bottom: 0;
  left: 0;
}

.t_bottom-right {
  bottom: 0;
  right: 0;
}

.t_bottom-center {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
}
