---
import Layout from '../layouts/Layout.astro';
import ShowToast from '../components/showToast';
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Welcome to <span class="text-gradient">Astro</span></h1>
    <ShowToast client:load />
  </main>
</Layout>
