@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts: */
@font-face {
  font-family: 'Geist';
  src: url('/fonts/GeistVF.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMono';
  src: url('/fonts/GeistMonoVF.woff2') format('woff2');
  font-display: swap;
}
